/* navbar responsive  */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

/* dropdown menu  */

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* hero section responsive  */

  @media (max-width: 768px) {
    .section {
      font-size: 16px;
    }
  }

/* meet section responsive  */







/* gallery responsive  */

@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
