/* ================ Google Fonts ================ */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

/* ============ custom color,fonts and width ============ */
:root {
  --primary-Color: #8d448b;
  --secondary-Color: #0f2137;
  --dark-Blue: #02073e;
  --dark-Color: #424147;
  --white-Color: #fff;

  --font-DM-Sans: "DM Sans", sans-serif;
  --small-font-size: 16px;
  --midum-font-size: 20px;
  --font-ExtraBold: 800;
  --font-Bold: 700;
  --font-SemiBold: 600;
  --font-Medium: 500;
  --font-Regular: 400;
  --font-light: 300;

  --container-width: 1400px;

  --transition: 0.5s all ease-in-out;
}

/* ==================== Body ==================== */
body {
  font-family: var(--font-DM-Sans);
}

/* ========== Container ========== */
.container {
  max-width: var(--container-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

/* ==================== Header Section CSS Start ==================== */

.header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: var(--midum-font-size);
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: var(--white-Color);
  font-size: var(--small-font-size);
  cursor: pointer;
  display: none;
  color: var(--dark-Blue);
}

/* dropdown menu  */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0px;
  top: 60px;
  width: 300px;
  background-color: rgba(162, 134, 134, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* hero section  */


.logo{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}